# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
airflow_venv/

# Airflow
airflow.db
airflow.db-shm
airflow.db-wal
airflow.cfg
logs/

# Data
data/raw/
data/*.db
output/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
*.env
simple_auth_manager_passwords.json.generated
